/* app css stylesheet */
/* Global */
@font-face {
  font-family: '20_dbregular';
  src: url('fonts/20-db/20db-webfont.eot');
  src: url('fonts/20-db/20db-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/20-db/20db-webfont.woff2') format('woff2'), url('fonts/20-db/20db-webfont.woff') format('woff'), url('fonts/20-db/20db-webfont.ttf') format('truetype'), url('fonts/20-db/20db-webfont.svg#20_dbregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background-color: #dbd1c8;
  font-family: "Helvetica", "Arial", "san-serif";
}
h1 {
  font-family: '20_dbregular', san-serif;
  color: #5f2210;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}
ul {
  padding: 0;
}
li {
  list-style: none;
  margin-left: 0;
}
input[type=button],
input[type=submit],
input[type=text],
input[type=number],
select {
  height: 2em;
  padding: 0 1em;
  border: 1px solid #5b5a5c;
  border-radius: 1em;
  background-color: #5f2210;
  color: #ffffff;
  padding: 0;
  margin: 0 0 .25em 0;
}
input[type=button],
input[type=submit],
input[type=text],
input[type=number] {
  padding: 0 1em;
}
select {
  margin-left: 1em;
}
#wrapper {
  max-width: 500px;
  margin: 3em auto;
  border: 1px solid #5b5a5c;
  border-radius: 2em;
  padding: 2em;
  background-color: #ffffff;
}
@media screen and (max-width: 600px) {
  #wrapper {
    padding: 1em;
  }
}
@media screen and (max-width: 600px) {
  .logo img {
    width: 100%;
  }
}
/* Restaurants */
#restaurants input[type=button] {
  font-family: '20_dbregular';
}
/* Reservation */
#reservation .hours {
  font-style: italic;
}
#reservation input[type=button],
#reservation input[type=submit],
#reservation input[type=text],
#reservation input[type=number],
#reservation select {
  min-width: 100px;
  max-width: 200px;
  width: 100%;
}
